<!DOCTYPE html>
<html lang="en">

<head>
    <title> Matching site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="../static/css/matchme.min.css" rel="stylesheet">

</head>

<body>
    {% load static %}
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <a class="navbar-brand" href="#"><strong>MatchMe</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse wordsizeNav" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/navigation/"> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/view_profile/"> View Profile </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link  " href="/edit_profile/"> Edit Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/matched_users/"> Matched Users </a>
                </li>
            </ul>
        </div>
    </nav>



    <header class="masthead">
            <a href="/logout/" class="btn btn-primary topright">Log out</a>
        <div class=" d-flex h-75 align-items-center">
            <div class="mx-auto text-center topp">
                <p class="text-white-50 mx-auto wordsizelogin topedit">Edit my profile</p>

                <form method="POST" action="/edit_profile_info/" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="picture-container">
                        <h6 class="text-white boldwriting">Choose Picture</h6>
                            <input type="file" id="picheight" name="imgfile" /><p></input>
                    </div>
                    <br>
                    <div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-white boldwriting">First Name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="firstname" id="first_name" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-white boldwriting">Surname:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="secondname" class="form-control" id="second_name"
                                    placeholder="Second Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-white boldwriting">Username:</label>
                            <div class="col-sm-8">
                                <input type='text' name="username" class="form-control" id="username" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-white boldwriting">Email:</label>
                            <div class="col-sm-8">
                                <input type='email' name="email" class="form-control" id="email" placeholder="Email">
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-white boldwriting">Gender:</label>
                            <div class="col-sm-8">
                                <select class="form-control selcls" id="gender" name="gender" placeholder="Gender">
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-white boldwriting">DOB:</label>
                            <div class="col-sm-8">
                                <input type='date' name="dob" class="form-control" id="datepicker" placeholder="Date_of_birth">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-white boldwriting">Description:</label>
                            <div class="col-sm-8">
                                <textarea rows="3" cols="40" name="description"> </textarea>
                            </div>
                        </div>
                        <a href="/change_password/" class="text-white-50  underline">Click here to change password</a>
                        <hr>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label text-white boldwriting">Select hobbies:</label>

                            <div class="center text-white boldwriting ">
                                <input type="checkbox" name="hobbies" id="football" value="1"> Football<br>
                                <input type="checkbox" name="hobbies" id="dancing" value="2"> Dancing<br>
                                <input type="checkbox" name="hobbies" id="hockey" value="3"> Hockey<br>
                                <input type="checkbox" name="hobbies" id="rugby" value="4"> Rugby<br>
                                <input type="checkbox" name="hobbies" id="ice_skating" value="5"> Ice skating<br>
                                <input type="checkbox" name="hobbies" id="tennis" value="6"> Tennis<br>
                            </div>
                            <div class="col-sm-20 text-center ">
                                <button type="submit" class="btn btn-primary moveDown wordsizeedit">Edit</button>
                            </div>
                        </div>
                    </div>
                </form>
                <script src="../static/vendor/jquery/jquery.min.js"></script>
                <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
