<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Match Me</title>

  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <link href="../static/css/matchme.min.css" rel="stylesheet">


  </style>
</head>

<body>
  {% load static %}
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Match Me</h1>
        <h2 class="text-white-50 mx-auto mt-4 mb-5">Discover new ways to meet new people!</h2>
        <a href="/login/" class="btn btn-primary ">Log in</a>
        <div class="mt-2">
          <a href="/register/" class="text-white-50 mx-auto mt-10 mb-5 underline"> Don't have an account? Click here
          </a>
        </div>
      </div>
    </div>
  </header>

  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
